* {
    font-family: Maple Mono;
}

window {
    background: transparent;
}
.taskbar-container-blink-false {
    background-color: black;
    border-color: white;
    border-radius: 12px;
}

.taskbar-container-blink-true {
    border-color: white;
    border-radius: 12px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    100% { 
        background-color: black;
    }
    50% {
        background-color: #ff0000; 
    }
    0% {
        background-color: black;
    }
}

.container {
    background-color: black;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 12px;
}
.label {
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.button {
  all: unset;
  border-radius: 12px;
  margin: 10px;
}
.button:hover {
  background-color: #ac82e9;
  color: #141216;
  transition-duration: 150ms;
}
.button:active {
  background-color: #634a88;
  color: #141216;
  transition-duration: 150ms;
}