* {
  all: unset;
  font-family: Maple Mono;
}

window {
  background: transparent;
}

.taskbar-container {
  background-color: #141216;
  color: #d8cab8; // in this case, this will set the font color
  border-radius: 12px; // for round corners
}

.taskbar-label {
  font-size: 12px;
  font-weight: bold;
}

.container {
  background-color: #141216;
  border-width: 10px; // for that nice thick border
  border-style: solid; // required, there are lots of funny options
  border-color: #d8cab8;
  color: #d8cab8; // in this case, this will set the font color
  border-radius: 12px; // for round corners
}
.label {
  font-size: 24px;
  font-weight: bold;
  padding-left: 12px; // it is good to set padding
  padding-right: 12px; // in case our text wraps
}

.button {
  border-radius: 12px;
  margin: 10px;
}
.button:hover {
  background-color: #ac82e9;
  color: #141216;
  transition-duration: 150ms;
}
.button:active {
  background-color: #634a88;
  color: #141216;
  transition-duration: 150ms;
}

.w-button {
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.w-button:hover {
  background-color: #ac82e9;
  color: #141216;
  transition-duration: 150ms;
}
.w-button:active {
  background-color: #634a88;
  color: #141216;
  transition-duration: 150ms;
}

.workspaces {
  margin-left: 10px;
  margin-right: 10px;
}